.questions {
  background: $background-light;

  &__title {
    text-align: center;
    font-size: 26px;
    padding: 60px 0 30px 0;
    color: $color-complement-1;

    @media (min-width: 700px) {
      font-size: 36px;
      padding-top: 80px;
    }

    @media (min-width: 1000px) {
      padding-bottom: 80px;
    }
  }
}

.questions-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 20px;

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 40px;
  }
}

.questions__article-title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  color: $color-title-main;

  @media (min-width: 700px) {
    font-size: 24px;
  }

  &-paragraph {
    // padding-bottom: 40px;
    font-size: 15px;
    line-height: 23px;

    @media (min-width: 700px) {
      font-size: 16x;
    }
  }
}

//question 1

.questions__article1 {
  background: #ffffff;
  margin: 5% 5% 0% 5%;
  @include box-shadow;

  @media (min-width: 700px) {
    grid-column: span 2;
  }

  @media (min-width: 1200px) {
    margin: 0;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin: 0;
  }
}

.questions__read-more-btn {
  @extend .read-more-btn;
  display: block;
  cursor: pointer;

  @media (min-width: 700px) {
    display: none;
  }
}

.hide-article1 {
  display: none;
  @media (min-width: 700px) {
    display: block;
  }
}

.questions__article1-container {
  padding: 5% 10% 15% 10%;

  @media (min-width: 1000px) {
    padding: 80px 60px 0px 60px;
  }
}

//question 2

.questions__article2 {
  background: #ffffff;
  margin: 5% 5% 0% 5%;
  @include box-shadow;

  @media (min-width: 1200px) {
    grid-column: 2 / span 2;
    margin: 0;
  }
}

.questions__article2-container {
  padding: 5% 10% 15% 10%;

  @media (min-width: 1000px) {
    padding: 10%;
  }

  @media (min-width: 1200px) {
    padding: 80px;
  }
}

.questions__article2__list {
  padding: 10% 5%;
  list-style: none;

  @media (min-width: 700px) {
    padding: 5%;
  }

  &-item {
    padding: 5px;
    font-weight: bold;
    font-size: 15px;

    &::before {
      content: "\2022";
      color: red;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
    @media (min-width: 700px) {
      font-size: 16px;
    }
  }
}

//question 3

.questions__article3 {
  background: #ffffff;
  display: grid;
  grid-auto-flow: row;
  @include box-shadow;
  margin: 5% 5% 15% 5%;

  @media (min-width: 700px) {
    grid-rows: span 2;
    margin: 5% 5% 0% 5%;
  }

  @media (min-width: 1200px) {
    grid-auto-flow: column;
    grid-template-columns: minmax(430px, 1fr) 2fr;
    grid-column: 2 / span 2;
    margin: 0;
  }
}

.questions__article3-img {
  @include responsive-image;
  position: absolute;
  min-height: 300px;

  @media (min-width: 1200px) {
    grid-column: 2;
  }

  &-wrapper {
    @include responsive-wrapper;
    min-height: 300px;

    @media (min-width: 1200px) {
      grid-column: 2;
    }
  }
}

.questions__article3-container {
  padding: 5% 10% 15% 10%;

  @media (min-width: 1200px) {
    padding: 30% 15% 30% 15%;
  }
}
