.questions-travel {
  background: $background-light;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @media (min-width: 1000px) {
    padding-top: 40px;
  }
}

.questions__article4 {
  background: #ffffff;
  display: grid;
  grid-auto-flow: row;
  @include box-shadow;
  margin: 5% 5% 5% 5%;

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 2fr;
    margin: 0;
  }
  &-container {
    padding: 5% 10% 15% 10%;
  }
}

.questions__article4-img {
  @include responsive-image;
  position: absolute;

  &-wrapper {
    @include responsive-wrapper;
    min-height: 290px;
    min-width: 290px;
    background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 700px) {
      min-height: 700px;
      min-width: 500px;
    }
    @media (min-width: 1000px) {
      min-height: 300px;
      min-width: 300px;
    }
  }
}

.questions__article4-img-wrapper-2 {
  position: relative;
  min-height: 35px;
  min-width: 35px;
  margin-top: -50px;

  @media (min-width: 700px) {
    min-height: 75px;
    min-width: 75px;
  }

  @media (min-width: 1000px) {
    min-height: 65px;
    min-width: 65px;
  }
}

.questions__article4-img-wrapper-1 {
  position: relative;
  min-height: 15px;
  min-width: 15px;
  margin-top: -50px;

  @media (min-width: 700px) {
    min-height: 45px;
    min-width: 45px;
  }

  @media (min-width: 1000px) {
    min-height: 35px;
    min-width: 35px;
  }
}

.questions__article4-img-wrapper-3 {
  position: relative;
  min-height: 15px;
  min-width: 15px;
  margin-top: -100px;

  @media (min-width: 700px) {
    min-height: 45px;
    min-width: 45px;
  }

  @media (min-width: 1000px) {
    min-height: 35px;
    min-width: 35px;
  }
}
