.questions-travel {
  background: $background-light;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @media (min-width: 1000px) {
    padding-top: 40px;
  }
}
.questions__article4 {
  background: #ffffff;
  display: grid;
  grid-auto-flow: row;
  @include box-shadow;
  margin: 5% 5% 5% 5%;

  @media (min-width: 1000px) {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    margin: 0;
  }
}

.questions__article4-img {
  @include responsive-image;
  position: absolute;
  min-height: 290px;
  min-width: 290px;

  &-wrapper {
    @include responsive-wrapper;
    min-height: 290px;
    min-width: 290px;

    @media (min-width: 700px) {
      min-height: 700px;
      min-width: 500px;
    }
    @media (min-width: 1000px) {
      min-height: 300px;
      min-width: 300px;
    }
  }
}

.questions__article4-container {
  padding: 5% 10% 15% 10%;
}
