@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,800&display=swap");

$font-main: "Montserrat", sans-serif;

$background-light: #f1f1f1;
$background-nav-dark: #061b38;

$color-title-main: #e32700;
$color-complement-1: #2c4f80;
$color-title-2: #436dac;
