@mixin responsive-image {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@mixin responsive-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

@mixin box-shadow {
  box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
}
