@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,800|Poppins:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  max-width: 100%;
}

.strong-text {
  color: #e32700;
}

.read-more-btn {
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  border: solid 1px #2c4f80;
}

.footer {
  min-height: 200px;
  background: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 1000px) {
  .footer {
    min-height: 320px;
  }
}

.footer-container {
  padding: 0% 5% 0% 5%;
}

.footer-head {
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@media (min-width: 700px) {
  .footer-head {
    font-size: 30px;
  }
}

.footer-paragraph {
  font-size: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 700px) {
  .footer-paragraph {
    font-size: 12px;
  }
}

.top-nav {
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (min-width: 700px) {
  .top-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 10px;
  }
}

.top-nav__logo-wrapper {
  max-width: 100%;
  max-height: 100%;
  padding: 20px 10px;
}

@media (min-width: 700px) {
  .top-nav__logo-wrapper {
    margin-right: auto;
    padding: 10px;
  }
}

.top-nav__logo {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.top-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.top-nav__link {
  text-decoration: none;
  margin: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

@media (min-width: 700px) {
  .top-nav__link {
    margin: 20px;
    font-size: 16px;
  }
}

.top-nav__link--active {
  text-decoration: none;
  border-bottom: 2px solid red;
  padding: 0;
  margin: 15px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding-bottom: 3px;
}

@media (min-width: 700px) {
  .top-nav__link--active {
    font-size: 16px;
    margin: 20px;
  }
}

.header__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://via.placeholder.com/150");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__home-container {
  width: 100%;
  padding: 0 10% 0 15%;
  margin-top: 150px;
}

@media (min-width: 500px) {
  .header__home-container {
    padding: 0 15% 0 45%;
  }
}

@media (min-width: 1000px) {
  .header__home-container {
    padding: 0 10% 0 60%;
  }
}

.header__home-title {
  border-bottom: 6px solid white;
  font-size: 40px;
}

@media (min-width: 700px) {
  .header__home-title {
    font-size: 50px;
  }
}

@media (min-width: 1000px) {
  .header__home-title {
    font-size: 60px;
  }
}

.header__home-paragraph {
  font-size: 20px;
}

@media (min-width: 700px) {
  .header__home-paragraph {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .header__home-paragraph {
    font-size: 40px;
  }
}

.top-article {
  max-width: 100%;
}

.top-article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

@media (min-width: 1200px) {
  .top-article__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

.top-article__container-text {
  padding: 15% 10%;
}

@media (min-width: 700px) {
  .top-article__container-text {
    padding: 15% 10% 15% 10%;
  }
}

@media (min-width: 1000px) {
  .top-article__container-text {
    width: 100%;
    padding: 10%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.top-article__container-title {
  font-size: 26px;
  margin-bottom: 40px;
  font-weight: 800;
}

@media (min-width: 700px) {
  .top-article__container-title {
    font-size: 36px;
  }
}

.top-article__container-paragraph {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

@media (min-width: 700px) {
  .top-article__container-paragraph {
    font-size: 18px;
  }
}

.top-article__img-wrapper {
  width: 100%;
  height: 100%;
}

.top-article__img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.about-mars {
  background: #f1f1f1;
}

.about-mars__title {
  text-align: center;
  font-size: 26px;
  padding: 60px 0 30px 0;
}

@media (min-width: 700px) {
  .about-mars__title {
    font-size: 36px;
    padding-top: 110px;
  }
}

.about-mars-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 20px;
}

@media (min-width: 700px) {
  .about-mars-container {
    padding: 10% 0% 10% 0%;
  }
}

@media (min-width: 1000px) {
  .about-mars-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 5% 5% 10% 5%;
  }
}

.about-mars__article1-img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.about-mars__article1-img-wrapper {
  width: 100%;
  height: 100%;
  padding: 15%;
}

@media (min-width: 700px) {
  .about-mars__article1-img-wrapper {
    padding: 10% 5%;
  }
}

.about-mars__article1 {
  background: white;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  margin: 5% 5% 0% 5%;
}

@media (min-width: 700px) {
  .about-mars__article1 {
    grid-auto-flow: column;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2% 2% 0% 2%;
  }
}

@media (min-width: 1000px) {
  .about-mars__article1 {
    grid-column: span 2;
  }
}

.about-mars__article1-container {
  padding: 5% 10% 10% 10%;
}

@media (min-width: 700px) {
  .about-mars__article1-container {
    padding: 20% 10% 20% 5%;
  }
}

.about-mars__article-title {
  padding-bottom: 10px;
  font-size: 20px;
}

@media (min-width: 700px) {
  .about-mars__article-title {
    font-size: 24px;
  }
}

.about-mars__article-paragraph {
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 23px;
}

@media (min-width: 700px) {
  .about-mars__article-paragraph {
    font-size: 16x;
  }
}

.about-mars__article2 {
  background: white;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  margin: 5% 5% 0% 5%;
}

@media (min-width: 700px) {
  .about-mars__article2 {
    grid-auto-flow: column;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2% 2% 0% 2%;
  }
}

@media (min-width: 1000px) {
  .about-mars__article2 {
    grid-column: span 2;
    margin-bottom: 2%;
  }
}

.about-mars__article2-img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.about-mars__article2-img-wrapper {
  min-width: 100%;
  height: 100%;
}

.about-mars__article2-container {
  padding: 5% 10% 10% 10%;
}

@media (min-width: 700px) {
  .about-mars__article2-container {
    padding: 20% 5% 20% 10%;
  }
}

.about-mars__article3 {
  background: white;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  margin: 5% 5% 10% 5%;
}

@media (min-width: 700px) {
  .about-mars__article3 {
    grid-auto-flow: column;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2% 2% 5% 2%;
  }
}

@media (min-width: 1000px) {
  .about-mars__article3 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-rows: (minmax(100px, 1fr))[auto-fit];
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 5% 0% 5% 0%;
  }
}

.about-mars__article3-img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.about-mars__article3-img-wrapper {
  width: 100%;
  height: 100%;
  padding: 15%;
}

@media (min-width: 700px) {
  .about-mars__article3-img-wrapper {
    padding: 10% 5%;
  }
}

.about-mars__article3-container {
  padding: 5% 10% 10% 10%;
}

@media (min-width: 700px) {
  .about-mars__article3-container {
    padding: 30% 10% 20% 5%;
  }
}

@media (min-width: 1000px) {
  .about-mars__article3-container {
    padding: 5% 15% 5% 15%;
  }
}

.header__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://via.placeholder.com/150");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__faq-container {
  width: 100%;
  padding: 0 10% 0 15%;
  margin-top: 150px;
}

@media (min-width: 500px) {
  .header__faq-container {
    padding: 0 15% 0 45%;
  }
}

@media (min-width: 1000px) {
  .header__faq-container {
    padding: 0 10% 0 55%;
    margin-top: 200px;
  }
}

.header__faq-title {
  border-bottom: 6px solid white;
  font-size: 40px;
}

@media (min-width: 700px) {
  .header__faq-title {
    font-size: 50px;
  }
}

@media (min-width: 1000px) {
  .header__faq-title {
    font-size: 60px;
  }
}

.header__faq-paragraph {
  font-size: 20px;
}

@media (min-width: 700px) {
  .header__faq-paragraph {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .header__faq-paragraph {
    font-size: 40px;
  }
}

.questions {
  background: #f1f1f1;
}

.questions__title {
  text-align: center;
  font-size: 26px;
  padding: 60px 0 30px 0;
}

@media (min-width: 700px) {
  .questions__title {
    font-size: 36px;
    padding-top: 80px;
  }
}

@media (min-width: 1000px) {
  .questions__title {
    padding-bottom: 80px;
  }
}

.questions-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 20px;
}

@media (min-width: 700px) {
  .questions-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .questions-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 40px;
  }
}

.questions__article-title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
}

@media (min-width: 700px) {
  .questions__article-title {
    font-size: 24px;
  }
}

.questions__article-title-paragraph {
  font-size: 15px;
  line-height: 23px;
}

@media (min-width: 700px) {
  .questions__article-title-paragraph {
    font-size: 16x;
  }
}

.questions__article1 {
  background: #ffffff;
  margin: 5% 5% 0% 5%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
}

@media (min-width: 700px) {
  .questions__article1 {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  .questions__article1 {
    margin: 0;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    margin: 0;
  }
}

.questions__article1-container {
  padding: 5% 10% 15% 10%;
}

@media (min-width: 1000px) {
  .questions__article1-container {
    padding: 80px 60px 0px 60px;
  }
}

.questions__article2 {
  background: #ffffff;
  margin: 5% 5% 0% 5%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
}

@media (min-width: 1200px) {
  .questions__article2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    margin: 0;
  }
}

.questions__article2-container {
  padding: 5% 10% 15% 10%;
}

@media (min-width: 1200px) {
  .questions__article2-container {
    padding: 80px;
  }
}

.questions__article2__list {
  padding: 10% 5%;
  list-style: none;
}

@media (min-width: 700px) {
  .questions__article2__list {
    padding: 5%;
  }
}

.questions__article2__list-item {
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}

.questions__article2__list-item::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width: 700px) {
  .questions__article2__list-item {
    font-size: 16px;
  }
}

.questions__article3 {
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  margin: 5% 5% 15% 5%;
}

@media (min-width: 700px) {
  .questions__article3 {
    grid-rows: span 2;
    margin: 5% 5% 0% 5%;
  }
}

@media (min-width: 1200px) {
  .questions__article3 {
    grid-auto-flow: column;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    margin: 0;
  }
}

.questions__article3-img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .questions__article3-img {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.questions__article3-img-wrapper {
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .questions__article3-img-wrapper {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.questions__article3-container {
  padding: 5% 10% 15% 10%;
}

@media (min-width: 1200px) {
  .questions__article3-container {
    padding: 40% 15% 20% 15%;
  }
}

.questions-travel {
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1000px) {
  .questions-travel {
    padding-top: 40px;
  }
}

.questions__article4 {
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  margin: 5% 5% 5% 5%;
}

@media (min-width: 1000px) {
  .questions__article4 {
    grid-auto-flow: column;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    margin: 0;
  }
}

.questions__article4-img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.questions__article4-img-wrapper {
  width: 100%;
  height: 100%;
}

.questions__article4-container {
  padding: 5% 10% 15% 10%;
}

.header__join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("https://via.placeholder.com/150");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__join-container {
  width: 100%;
  padding: 0 10% 0 15%;
  margin-top: 150px;
}

@media (min-width: 500px) {
  .header__join-container {
    padding: 0 45% 0 15%;
  }
}

@media (min-width: 1000px) {
  .header__join-container {
    padding: 0 55% 0 10%;
    margin-top: 400px;
  }
}

.header__join-title {
  border-bottom: 6px solid white;
  font-size: 40px;
}

@media (min-width: 700px) {
  .header__join-title {
    font-size: 50px;
  }
}

@media (min-width: 1000px) {
  .header__join-title {
    font-size: 60px;
  }
}

.header__join-paragraph {
  font-size: 20px;
}

@media (min-width: 700px) {
  .header__join-paragraph {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .header__join-paragraph {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */