.about-mars {
  background: $background-light;

  &__title {
    text-align: center;
    font-size: 26px;
    padding: 60px 0 30px 0;
    color: $color-complement-1;
    transition: linear 500ms;

    @media (min-width: 700px) {
      font-size: 36px;
      padding-top: 110px;
    }
  }
  &-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 20px;
    transition: linear 500ms;

    @media (min-width: 700px) {
      padding: 10% 0% 10% 0%;
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
      padding: 5% 5% 10% 5%;
    }
  }

  &__article-title {
    padding-bottom: 10px;
    font-size: 20px;
    color: $color-title-main;

    @media (min-width: 700px) {
      font-size: 24px;
    }
  }
  &__article-paragraph {
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 23px;

    @media (min-width: 700px) {
      font-size: 16px;
    }
  }
}

.about-mars__article1 {
  background: #ffffff;
  display: grid;
  grid-auto-flow: row;
  margin: 5% 5% 0% 5%;
  @include box-shadow;
  transition: linear 500ms;

  @media (min-width: 700px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2% 2% 0% 2%;
  }
  @media (min-width: 1000px) {
    grid-column: span 2;
  }

  &-img {
    @include responsive-image;
    position: absolute;
    padding: 10%;

    &-wrapper {
      position: relative;
      min-height: 250px;
      min-width: 250px;
      place-self: center;
      margin: 10% 0;

      @media (min-width: 700px) {
        margin-top: 0%;
      }
    }
  }
  &-container {
    padding: 5% 10% 10% 10%;
    transition: linear 500ms;

    @media (min-width: 700px) {
      padding: 15% 10% 15% 10%;
    }
    @media (min-width: 1000px) {
      padding: 20% 10% 20% 10%;
    }
  }
}

.about-mars__article2 {
  background: #ffffff;
  display: grid;
  grid-auto-flow: row;
  margin: 5% 5% 0% 5%;
  @include box-shadow;
  transition: linear 500ms;

  @media (min-width: 700px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2% 2% 0% 2%;
  }
  @media (min-width: 1000px) {
    grid-column: span 2;
    margin-bottom: 2%;
  }
  &-img {
    @include responsive-image;
    position: absolute;

    &-wrapper {
      min-width: 300px;
      min-height: 300px;
      position: relative;
    }
  }
  &-container {
    padding: 5% 10% 10% 10%;
    transition: linear 500ms;

    @media (min-width: 700px) {
      padding: 20% 5% 20% 10%;
    }
  }
}

.about-mars__article3 {
  background: #ffffff;
  display: grid;
  grid-auto-flow: row;
  margin: 5% 5% 10% 5%;
  @include box-shadow;
  transition: linear 500ms;

  @media (min-width: 700px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 2% 2% 5% 2%;
  }
  @media (min-width: 1000px) {
    grid-column: 3;
    grid-row: 1 / span 2;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 5% 0% 5% 0%;
  }
  &-img {
    @include responsive-image;
    position: absolute;

    &-wrapper {
      position: relative;
      min-height: 250px;
      min-width: 250px;
      place-self: center;
      margin: 10% 0;

      @media (min-width: 700px) {
        margin: 0;
      }
    }
  }
  &-container {
    padding: 5% 10% 10% 10%;
    transition: linear 500ms;

    @media (min-width: 700px) {
      padding: 15% 10% 15% 10%;
    }
    @media (min-width: 1000px) {
      padding: 5% 15% 5% 15%;
    }
  }
}

.read-more-btn {
  padding: 5px 20px 5px 20px;
  border-radius: 10px;
  border: solid 1px #2c4f80;
}
