.top-article {
  max-width: 100wv;

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    transition: linear 500ms;

    @media (min-width: 1200px) {
      flex-flow: row-reverse;
    }

    &-text {
      padding: 15% 10%;
      transition: linear 500ms;

      @media (min-width: 700px) {
        padding: 15% 10% 15% 10%;
      }

      @media (min-width: 1000px) {
        width: 100%;
        padding: 10%;
        align-self: center;
      }
    }
    &-title {
      font-size: 26px;
      margin-bottom: 40px;
      font-weight: 800;
      color: $color-title-main;

      @media (min-width: 700px) {
        font-size: 36px;
      }
    }
    &-paragraph {
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;

      @media (min-width: 700px) {
        font-size: 18px;
      }
    }
  }
  &__img {
    @include responsive-image;
    position: absolute;

    &-wrapper {
      @include responsive-wrapper;
      min-height: 350px;
      transition: linear 500ms;

      @media (min-width: 700px) {
        min-height: 600px;
      }

      @media (min-width: 2000px) {
        min-height: 1000px;
      }
    }
  }
}

.strong-text {
  color: $color-title-main;
}
